<div class="colMS" id="content">
 <h1>
  Site administration
 </h1>
 <div id="content-main">
  <div class="app-findmydevice module">
   <table>
    <caption>
     <a class="section" href="/admin/findmydevice/" title="Models in the Django Find My Device application">
      Django Find My Device
     </a>
    </caption>
    <tr class="model-device">
     <th scope="row">
      <a href="/admin/findmydevice/device/">
       Devices
      </a>
     </th>
     <td>
     </td>
     <td>
      <a class="changelink" href="/admin/findmydevice/device/">
       Change
      </a>
     </td>
    </tr>
    <tr class="model-location">
     <th scope="row">
      <a href="/admin/findmydevice/location/">
       Locations
      </a>
     </th>
     <td>
     </td>
     <td>
      <a class="changelink" href="/admin/findmydevice/location/">
       Change
      </a>
     </td>
    </tr>
   </table>
  </div>
 </div>
 <div id="content-related">
  <div class="module" id="recent-actions-module">
   <h2>
    Recent actions
   </h2>
   <h3>
    My actions
   </h3>
   <p>
    None available
   </p>
  </div>
 </div>
 <br class="clear"/>
</div>