<div class="" id="content">
 <h1>
  Select location to change
 </h1>
 <div id="content-main">
  <ul class="object-tools">
  </ul>
  <div class="module" id="changelist">
   <div class="changelist-form-container">
    <div class="xfull">
     <ul class="toplinks">
     </ul>
     <br class="clear"/>
    </div>
    <form id="changelist-form" method="post" novalidate="">
     MockedCsrfTokenNode
     <p class="paginator">
      0 locations
     </p>
    </form>
   </div>
  </div>
 </div>
 <br class="clear"/>
</div>